body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    text-align: center;
}

section {
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
}

section div h3 {
color: red;
}

section div h4 {
    color: blue;
}